# Logs
logs
*.log
pnpm-debug.log*

node_modules
dist
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
/public/third-party-notices.txt

# Playwright
test-results/
playwright-report/
dist-e2e/
